# EditorConfig helps maintain consistent coding styles across editors
# https://editorconfig.org/

root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

# C# files
[*.cs]

indent_style = space
indent_size = 4

dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

# New lines
csharp_new_line_before_members_in_chained_query = true

# Braces
csharp_new_line_before_open_brace = all

# Naming
dotnet_naming_rule.private_fields_should_be_camel_case.severity = suggestion
dotnet_naming_rule.private_fields_should_be_camel_case.symbols = private_fields
dotnet_naming_rule.private_fields_should_be_camel_case.style = camel_case

dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

dotnet_naming_style.camel_case.capitalization = camel_case

# JSON
[*.json]
indent_style = space
indent_size = 2

# YAML
[*.yml]
indent_style = space
indent_size = 2

[*.yaml]
indent_style = space
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false